.cursor-dot {
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 999999;
  background: #88CE02
}

.cursor-ring {
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 50%;
  border-color: #88CE02;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 999998;
  transition: all 0.12s ease-out;
  /* background: linear-gradient(135deg, #A8B5A2, #E2E8F0); */
}
