/* Do NOT style body here - let themes control it */

/* A wrapper only for the splash screen */
.splash-wrapper {
  background-color: #34495e;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999; /* stays above everything */
}

#title {
  text-align: center;
  margin-top: 40px;
  color: #ecf0f1;
  font-family: Roboto, sans-serif;
  font-size: 18px;
}
