html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Leaf container */
#start-leaf-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
  z-index: 1000;
}

.leaf-aspect-ratio {
  height: 0;
  padding-bottom: 113%;
  position: relative;
}

/* UPDATED LEAF ICON STYLE */
.start-leaf {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translate(-2px, -2px) scale(1);
  transition: opacity 0.5s, transform 0.5s ease-in-out;
}

.start-leaf svg {
  width: 70px;
  height: 70px;
  fill: #eef;
}

/* SVG trace */
#leaf-trace {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* Screen */
#start-screen {
  position: fixed;
  inset: 0;
  z-index: 2000;
}

/* Panels */
.start-screen__panel {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.start-screen__bg {
  position: absolute;
  inset: 0;
  background-image: linear-gradient(45deg, #125758, #ffcc33);
}

/* Panel positions */
.start-screen__top {
  transform: translateY(-50%);
}

.start-screen__top > .start-screen__bg {
  transform: translateY(50%);
}

.start-screen__bottom {
  transform: translateY(50%);
}

.start-screen__bottom > .start-screen__bg {
  transform: translateY(-50%);
}

/* Animations */
.slideUp {
  transform: translateY(-100%);
  opacity: 0;
  transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}

.slideDown {
  transform: translateY(100%);
  opacity: 0;
  transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}

.hide {
  opacity: 0;
  transition: opacity 0.4s;
}

.show {
  opacity: 1;
}

.scaleDown {
  transform: translate(-2px, -2px) scale(0);
}
